
.button-add:hover {
  text-shadow: 1px 1px 1px lightskyblue;
}

.button-add:active {
  box-shadow: 1px 1px 4px 1px darkblue;
}

.photo{
  width: 250px;
  height: 250px;

}

.contact-item{
  height: 200px;
  width: 500px;
  text-align: start;
}

.photo-img{
  width: 100%;
  border-radius: 50%;
}